@media only screen and (max-width: 480px) {
    .brand-logo {
        font-size: 1.7em !important;
        position: absolute;
        display: inline-block;
        font-style: normal;
        font-weight: 300;
    }
    .textoHeader {
        padding: 15% 0;
        font-size: 5.0em!important;
        margin-top: 110px;
        font-style: normal;
        font-weight: 100;
        color: white;
    }
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
    .formulario {
        width: auto;
    }
}

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: #EDEDED !important;
}

.en{
    display:none;   
}

.video-container{
	    height: 488px!important;
}

hr {
    width: 100%;
}

.limit{
    word-wrap: break-word;
}


.page-footer {
    background-color: #42b3e4 !important;
}

.navbar-color {
    background-color: transparent;
    transition-duration: 0.5s;
}

#nav-f {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

nav {
    position: absolute;
    top: 0px;
}

nav ul a {
    font-size: 1.3rem;
    color: #FFF;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.brand-logo {
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-weight: 300;
}

a i.fab{
    font-size: 1.1em;
    margin-right: 10px;
    
}

footer .container .row ul li a span{
    text-align: justify;
}

.header-image {
    background: url(../img/cover.jpg) no-repeat;
    background-size: cover;
}

#banner {
    min-height: 550px;
    max-height: 864px;
    position: relative;
    background-color: #42b3e4;
}

.textoHeader {
    padding: 15% 0;
    font-size: 4.6em;
    margin-top: 50px;
    font-style: normal;
    font-weight: 100;
    color: white;
}

.tabs .tab a {
    color: #588dff;
}

.tabs .tab a:hover {
    color: #42b3e4;
}

.tabs .indicator {
    background-color: #588dff;
    opacity: 0.4;
}

.card-action a {
    color: #588dff!important;
}

.card-action a:hover {
    color: #42b3e4!important;
}

.in {
    font-weight: 700 !important;
    font-style: normal !important;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}

.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}

.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

.intro {
    margin-bottom: 0px;
}

.nonclickable
{
    cursor: pointer;
}

.btn-CV {
    background-color: #e51d00;
}

.btn-CV:hover {
    background-color: #e51d39;
}

.btn-CV:active {
    background-color: #e51d39;
}

.btn-form {
    background-color: #2c4882;
}

.btn-form:hover {
    background-color: #0065ff;
}

.btn-form:active {
    background-color: #0065ff;
}

footer {
    padding-top: 0px;
}